style:
  ForbiddenComment:
    active: false
  MagicNumber:
    active: false
  WildcardImport:
    active: false
  ThrowsCount:
    active: true
    max: 3
    excludeGuardClauses: false
  ReturnCount:
    max: 5
